.btn-container {
    display: flex;
    gap: 2rem;
    margin-top: auto;
}

.body-container {
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 20px;
    padding: 10px;
    margin: 0 auto;
}

.comments-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.comment-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
}

.comment-container:hover {
    border: 1px solid #000;
}
